%p Hi,

%p A new licensing application has been received in your area, the details are as follows:
	
%h3= application.occupier

%p= application.address.strip.gsub(/\n/, '<br />')

%p= application.details

%p More information at:

%p
	%a{:href => "http://licensing.lichfielddc.gov.uk/view/#{application.refval}"}
		http://licensing.lichfielddc.gov.uk/view/#{application.refval}

%hr

%p Don't want to receive these emails any more? Click the link below, or copy and paste it into your browser's address bar:

%p
	%a{:href => "http://licensing.lichfielddc.gov.uk/remove?hash=#{hash}"}
		http://licensing.lichfielddc.gov.uk/remove?hash=#{hash}

%p This is an automated email, please do not respond directly to it.