%ul#breadcrumb
	%li
		%a{:href => "http://www.lichfielddc.gov.uk/"}
			Home
	%li	
		%a{:href => "http://www.lichfielddc.gov.uk/info/100001/advice_and_benefits"}
			Licenses and Street Trading
	%li
		%a{:href => "/"}
			Licensing register
	%li.bc_end
		Search Results

%h1 Search results

- if @applications.length > 0

	%table
		%tr
			%th
				Application Number
			%th
				Premises name
			%th
				Premises address
			%th
				Summary of activities
			%th
				Status
			%th
				Date application recieved
	
		- @applications.each do |app|
			%tr
				%td
					= link_to(app.refval, "view/#{app.refval}")
				%td
					= app.occupier
				%td
					= app.address
				%td
					= app.details
				%td
					= app.status
				%td
					- if app.details == "Temporary Event Notice"
						= app.notices.sort_by(&:recieveddate).reverse[0].receiveddate.strftime("%d/%m/%Y") rescue app.receiveddate.strftime("%d/%m/%Y")
					- else
						= app.receiveddate.strftime("%d/%m/%Y") rescue nil
	
	= will_paginate @applications, :id => 'az_index', :renderer => BootstrapPagination::Sinatra
	
	.clear
	
	%p
		%a{:href=> "/search.rss?#{request.query_string}"}
			= image_tag("http://www.lichfielddc.gov.uk/site/images/xml.gif")
			Get an RSS feed for this search

- else
	
	%h2.center
		There were no results for your search.
		= link_to("Search again?", "/")