- @extras = capture do
	= stylesheet_link_tag "http://cdn.leafletjs.com/leaflet-0.3.1/leaflet.css"
	/[if lte IE 8]
		= stylesheet_link_tag "http://cdn.leafletjs.com/leaflet-0.3.1/leaflet.ie.css"
	%script
		= "var lat = " + @app.latlng[0].to_json
		= "var lng = " + @app.latlng[1].to_json
	= javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.3.1/leaflet.js"
	= javascript_include_tag "map"
	= javascript_include_tag "application"

%ul#breadcrumb
	%li
		%a{:href => "http://www.lichfielddc.gov.uk/"}
			Home
	%li	
		%a{:href => "http://www.lichfielddc.gov.uk/info/100001/advice_and_benefits"}
			Licenses and Street Trading
	%li.bc_end
		Licensing register
%h1 View application - #{@app.refval}

%p#tabs
	%a.active{:href => "#overview", "data-destination" => "#overview"}Overview
	- if @app.activities.length > 0
		%a{:href => "#activities", "data-destination" => "#activities"}Activities
	- if @app.notices.length > 0
		%a{:href => "#notices", "data-destination" => "#notices"}Events
	- unless @app.closingdate.nil?
		- if @app.closingdate > Date.today
			%a{:href => "#comment", "data-destination" => "#comment"}Comment

.byEditor#overview

	#map{:style => "height: 300px; width: 300px; float: right"}

	%h2= @app.occupier

	%p
		%strong Address:
		= @app.address.strip.gsub!(/\n/, '<br />')

	- unless @app.type.blank?
		
		%p
			%strong Type:
			= @app.type

	- unless @app.usetype.blank?
		
		%p
			%strong Main Use Type:
			= @app.usetype
			
	- unless @app.status.blank?
		
		%p
			%strong Status:
			= @app.status
		
	- unless @app.applicantname.blank?
		
		%p
			%strong Applicant name:
			= @app.applicantname
		
	- unless @app.tradingname.blank?

		%p
			%strong Trading name:
			= @app.tradingname
			
	%h2 Dates
	
	%p
		%strong Date recieved:
		= app.receiveddate.strftime("%B %e, %Y")

	- unless @app.closingdate.blank?
		- if @app.closingdate > Date.today
	
			%p
				%strong Closing date for comments:
				= @app.closingdate.strftime("%B %e, %Y")

	.clear

- if @app.activities.length > 0

	#activities.byEditor
		
		%h2 Activities
		
		%table
			%tr
				%th Type
				%th Days
				%th From
				%th To
		
			- @app.activities.each do |activity|
				%tr
					%td= activity.type
					%td= activity.cycle
					%td= activity.open
					%td= activity.close

- if @app.notices.length > 0
	- @app.notices = @app.notices.sort_by(&:recieveddate).reverse
	
	#notices.byEditor
	
		%h2 Event notices
		
		%table
			%tr
				%th Start Date
				%th End Date
				%th Hours
				%th Days
				%th Received
			- @app.notices.each do |notice|
				%tr
					%td= notice.startdate.strftime("%B %e, %Y")
					%td= notice.enddate.strftime("%B %e, %Y")
					%td= notice.hours
					%td= notice.days
					%td= notice.receiveddate.strftime("%B %e, %Y")

.byEditor#comments
	
	- unless @app.closingdate.nil?

		- form_tag '/comment', :method => 'post' do
			
			%fieldset
				
				%legend
					Give your comments on this application
				
				%p Comments must be recieved by #{@app.closingdate.strftime("%B %e, %Y")}
		
				= hidden_field_tag :refval, :value => @app.refval
				
				%p
					= label_tag :name
					= text_field_tag :name, :class => "field"
				%p
					= label_tag :email
					= text_field_tag :email, :class => "field"
				%p
					= label_tag :tel
					= text_field_tag :tel, :class => "field"
				%p
					= label_tag :address
					= text_area_tag :address, :class => "field", :rows => 5
				%p
					= label_tag :comments
					= text_area_tag :comments, :class => "field", :rows => 6
				
				%p.center
					= submit_tag "Send!", :class => "button"