!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Licensing | Lichfield District Council
    %link{:href => "http://www.lichfielddc.gov.uk/site/styles/standard_1_.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://www.lichfielddc.gov.uk/site/styles/generic/style.php", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    /[if lte IE 6]
      <link rel="stylesheet" type="text/css" href="http://www.lichfielddc.gov.uk/site/styles/generic/ie_special.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="http://www.lichfielddc.gov.uk/site/styles/generic/ie_special_print.css" media="print" />
    /[if IE 7]
      <link rel="stylesheet" type="text/css" href="http://www.lichfielddc.gov.uk/site/styles/generic/ie-seven.css" media="screen" />

    %link{:href => "http://www.lichfielddc.gov.uk/site/styles/generic/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://www.lichfielddc.gov.uk/site/styles/generic/handheld.css", :media => "handheld", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://www.lichfielddc.gov.uk/site/favicon.ico", :rel => "Shortcut Icon", :type => "image/x-icon"}/
    %link{:href => "http://www.lichfielddc.gov.uk/site/scripts/site_map.php", :rel => "ToC"}/
    %link{:href => "/openSearch.php", :rel => "search", :title => "Lichfield District Council", :type => "application/opensearchdescription+xml"}/
    / general metadata
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "content-type"}/
    %meta{:content => "en", "http-equiv" => "content-language"}/
    %meta{:content => "http://www.jadu.co.uk", :name => "generator"}/
    %meta{:content => "index,follow", :name => "robots"}/
    %meta{:content => "2 days", :name => "revisit-after"}/
    %meta{:content => "Jadu CSS design", :name => "Author-Template"}/
    %meta{:content => "Lichfield District Council", :name => "Author"}/
    %meta{:content => "Lichfield District Council, District Council House, Frog Lane, Lichfield, Staffordshire. WS13 6YY", :name => "Publisher"}/
    %meta{:content => "webmaster@lichfielddc.gov.uk", :name => "Publisher-Email"}/
    %meta{:content => "Worldwide", :name => "Coverage"}/
    / ICRA PICS label
    %link{:href => "http://www.lichfielddc.gov.uk/labels.rdf", :rel => "meta", :title => "ICRA labels", :type => "application/rdf+xml"}/
    / Dublin Core Metadata
    %meta{:content => "Lichfield District Council", :lang => "en", :name => "DC.creator"}/
    %meta{:content => "01-04-2005", :lang => "en", :name => "DC.date.created"}/
    %meta{:content => "text/html", :lang => "en", :name => "DC.format"}/
    %meta{:content => "en", :name => "DC.language"}/
    %meta{:content => "Lichfield District Council, District Council House, Frog Lane, Lichfield, Staffordshire. WS13 6YY", :lang => "en", :name => "DC.publisher"}/
    %meta{:content => "Copyright 2008 Lichfield District Council", :lang => "en", :name => "DC.rights.copyright"}/
    %meta{:content => "Worldwide", :lang => "en", :name => "DC.coverage"}/
    %meta{:content => "http://www.lichfielddc.gov.uk/site/custom_scripts/mysociety/header.php", :name => "DC.identifier"}/
    / eGMS Metadata
    %meta{:content => "V1.0 Public Consumption", :lang => "en", :name => "eGMS.status"}/
    %meta{:content => "Double-A", :name => "eGMS.accessibility", :scheme => "WCAG"}/
    / javascript
    %script{:src => "http://www.lichfielddc.gov.uk/site/javascript/global.js", :type => "text/javascript"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js", :type => "text/javascript"}
    %meta{:content => "home, homepage, index, root, Lichfield, UK, England, local authority, council, local government, services, citizen, councillor, community, leisure, tourist, tourism, social services, education, enviroment, fire, emergency planning, road safety, transport, motorways, library, libraries, archive, public record, record office, parish councils, county councillors", :name => "Keywords"}/
    %meta{:content => "Lichfield District Council's custom script", :name => "Description"}/
    %meta{:content => "Lichfield District Council's custom script", :lang => "en", :name => "DC.title"}/
    %meta{:content => "Lichfield District Council's custom script", :lang => "en", :name => "DC.description"}/
    %meta{:content => "Local government;Government, politics and public administration", :lang => "en", :name => "DC.subject", :scheme => "eGMS.IPSV"}/
    %meta{:content => "Council, government and democracy", :lang => "en", :name => "DC.subject"}/
    = @extras
    = stylesheet_link_tag "style"
  %body
    #container
      #mobile_name Lichfield District Council
      #mast
        %p.skip
          %a{:accesskey => "s", :href => "http://www.lichfielddc.gov.uk/site/custom_scripts/mysociety/header.php?#main", :rel => "nofollow", :title => "Skip to page content, access key S"} Jump to content
          \-
          %a{:accesskey => "n", :href => "http://www.lichfielddc.gov.uk/site/custom_scripts/mysociety/header.php?#main-nav", :rel => "nofollow", :title => "Skip to main navigation, access key N"} Jump to navigation
          \-
          %a.access{:href => "http://www.lichfielddc.gov.uk/site/scripts/user_settings.php", :title => "Change font size, colour and contrast of this site"} Accessibility Settings
        /
        %form#search{:action => "http://www.lichfielddc.gov.uk/site/scripts/google_results.php", :method => "get", :name => "search"}
          %fieldset
            %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/search_index.php", :title => "Create a specific detailed search"} Need help finding something?
            %label{:for => "SearchSite"} Search this site
            %input#SearchSite.field{:maxlength => "40", :name => "q", :size => "18", :type => "text", :value => ""}/
            %input{:name => "site", :type => "hidden", :value => "ldc"}/
            %input{:name => "client", :type => "hidden", :value => "ldc"}/
            %input{:name => "output", :type => "hidden", :value => "xml"}/
            %input.button{:type => "submit", :value => "Search"}/
        .pseudoH1
          %a{:href => "http://www.lichfielddc.gov.uk/site/index.php"}
            %span Lichfield District Council
        %p.about
          Making it easy to
          = succeed "," do
            %a.tt{:href => "http://www.lichfielddc.gov.uk/site/scripts/az_home.php"} access council services
          %a.tt{:href => "http://www.lichfielddc.gov.uk/reportit"} report problems
          in your area, view
          = succeed "," do
            %a.tt{:href => "http://www.lichfielddc.gov.uk/planning"} planning applications
          find out
          = succeed "," do
            %a.tt{:href => "http://www.lichfielddc.gov.uk/whatsgoingon"} what's going on locally
          %a.tt{:href => "http://www.lichfielddc.gov.uk/voiceit"} have your say
          on local issues, and much more.
        %a{:name => "main-nav"}
        %h2 Navigation
        %ul
          %li
            %a{:href => "http://www.lichfielddc.gov.uk", :title => "View the home page"} Home
          %li
            %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/az_home.php"} A-Z of services
          %li
            %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/documents_index.php"} Council services
          %li
            %a{:href => "http://www.lichfielddc.gov.uk/site/custom_scripts/newsblogindex.php"} News
          %li
            %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/contact.php"} Contacts
          %li
            %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/location.php"} Opening hours and location
          %li
            %a#myarea{:href => "http://www.lichfielddc.gov.uk/site/custom_scripts/myareasearch.php"} My area
          %li
            %a{:href => "http://www.lichfielddc.gov.uk/site/custom_scripts/map.php"} Online map
          / <li class="sign-in"><a href="http://www.lichfielddc.gov.uk/site/index.php?sign_in=true">Sign-in</a> or <a href="http://www.lichfielddc.gov.uk/site/scripts/register.php">Register</a></li>
          %li.sign-in
            %a{:href => "http://www.lichfielddc.gov.uk/site/index.php?sign_in=true"} Sign in
            or
            %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/register.php"} Register
        / end navigation
        /
          <span id="postcodebox" style="display: none;">
          <form action="http://www.lichfielddc.gov.uk/site/custom_scripts/myarea.php" method="get" id="pcodeform">
          <label for="postcode">Your Postcode: </label><input name="postcode" id="postcode" class="text" /> <input value="Go!" name="submit" class="pbutton" type="submit" />
          </form>
          </span>
        .clear
      #page_wrap
        #mainContent
          #content
            = yield
        
        %br.clear/
        %br.clear/
      %ul.contactbox
        %li.taxonomy
          %h2 Browse council information on...
          %ul
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/documents.php?categoryID=100001"} Advice and benefits
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/documents.php?categoryID=100002"} Business
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/documents.php?categoryID=100003"} Community and living
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/documents.php?categoryID=100004"} Council and democracy
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/documents.php?categoryID=100005"} Education and learning
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/documents.php?categoryID=100006"} Environment and planning
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/documents.php?categoryID=100007"} Housing
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/documents.php?categoryID=100008"} Jobs and careers
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/documents.php?categoryID=100009"} Leisure and culture
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/documents.php?categoryID=100010"} Health and social care
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/documents.php?categoryID=100011"} Transport and streets
        %li.contact.vcard
          %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/location.php"}
            %img{:alt => "", :src => "http://www.lichfielddc.gov.uk/site/images/map.gif"}/
          %h2 Get in touch or visit...
          %ul
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/custom_scripts/feedback2.php"} Your feedback or comments
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/faqs_ask.php"} Ask a question about our services
            %li
              %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/location.php"} Our location and travel details
          %p.fn.councilName Lichfield District Council
          %p.phone.tel
            Phone our call centre:
            %span 01543 308 000
          %p.adr District Council House, Frog Lane, Lichfield, Staffs, WS13 6YY
        %li.focus
          %h2 Our focus and priorities...
          %ul
            %li
              %h3
                %a{:href => "http://www.lichfielddc.gov.uk/people"} Centred on people
              %a{:href => "http://www.lichfielddc.gov.uk/people"}
                %img{:alt => "", :src => "http://www.lichfielddc.gov.uk/site/images/people.gif"}/
            %li
              %h3
                %a{:href => "http://www.lichfielddc.gov.uk/place"} Focused on place
              %a{:href => "http://www.lichfielddc.gov.uk/place"}
                %img{:alt => "", :src => "http://www.lichfielddc.gov.uk/site/images/place.gif"}/
            %li
              %h3
                %a{:href => "http://www.lichfielddc.gov.uk/improvement"} Delivering through improvement
              %a{:href => "http://www.lichfielddc.gov.uk/improvement"}
                %img{:alt => "", :src => "http://www.lichfielddc.gov.uk/site/images/improvement.gif"}/
      #footer
        %img#bcstar{:alt => "We received 3 stars in the Society of IT Managers' annual Better Connected report", :src => "http://www.lichfielddc.gov.uk/images/3star.png"}/
        %img{:alt => "Lichfield District Council", :src => "http://www.lichfielddc.gov.uk/site/images/footer-logo.gif"}/
        %p.addNav
          %a{:href => "http://www.lichfielddc.gov.uk/site/custom_scripts/mysociety/footer.php?#mast"} Jump to the top
        %p.addNav
          %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/terms.php"} Terms and Disclaimer
          \-
          %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/accessibility.php"} Accessibility Statement
          \-
          %a{:href => "http://www.lichfielddc.gov.uk/site/scripts/website_statistics.php"} Websites statistics
          \-
          %a{:accesskey => "3", :href => "http://www.lichfielddc.gov.uk/site/scripts/site_map.php"} Site map
          \- Lichfield District Council &copy; 2011
        %p.addNav
          Made with
          %a{:href => "http://validator.w3.org/"} XHTML
          and
          %a{:href => "http://jigsaw.w3.org/css-validator/"} CSS
          to
          = succeed "." do
            %a{:href => "http://www.w3.org/WAI/WCAG1AA-Conformance"} WAI-AA
          %a{:href => "http://www.icra.org"} ICRA
          rated. Powered by Jadu
          = succeed "." do
            %a{:href => "http://www.jadu.co.uk"} Content Management
        %p.addNav
          %a{:href => "http://www.direct.gov.uk"} www.direct.gov.uk
          \- A Beacon Authority
        %p.hidden
          %a{:accesskey => "1", :href => "http://www.lichfielddc.gov.uk"} Homepage
          \/
          %a{:accesskey => "2", :href => "http://www.lichfielddc.gov.uk/site/scripts/whats_new_index.php"} Whats new
          \/
          %a{:accesskey => "3", :href => "http://www.lichfielddc.gov.uk/site/scripts/site_map.php"} Site map
          \/
          %a{:accesskey => "4", :href => "http://www.lichfielddc.gov.uk/site/scripts/search_index.php"} Search facility
          \/
          %a{:accesskey => "5", :href => "http://www.lichfielddc.gov.uk/site/scripts/faqs_index.php"} Frequently asked questions
          \/
          %a{:accesskey => "7", :href => "http://www.lichfielddc.gov.uk/site/scripts/contact.php"} Complaints procedure (Contacting the Council page)
          \/
          %a{:accesskey => "8", :href => "http://www.lichfielddc.gov.uk/site/scripts/terms.php"} Terms and Privacy
          \/
          %a{:accesskey => "9", :href => "http://www.lichfielddc.gov.uk/site/scripts/feedback.php"} Feedback
          \/
          %a{:accesskey => "0", :href => "http://www.lichfielddc.gov.uk/site/scripts/accessibility.php"} Access key details
          \/
          %a{:accesskey => "/", :href => "#mast"} Top of the page
    / ####################################
    %script{:src => "http://www.google-analytics.com/urchin.js", :type => "text/javascript"}
    :javascript
      _uacct = "UA-511839-1"; urchinTracker();